@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght,GRAD@0,17..18,400..700,200;1,17..18,400..700,200&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    text-decoration: none;
    font-family: "Google Sans", sans-serif;


}
body {
    margin:0;
    font-family:Arial;
    /* background:#f4f6f8;  */
    overflow-x: hidden;
    background-color: #dddbde;
    /* background-color: #111; */
    
    
}

.navbar { 
    background:#111; 
    color:white;
    padding:20px; 
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
           
}

.nav{
    margin-left: 200px;
}

nav a {
    color:rgb(255, 255, 255); 
    margin-right: 36px; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 21px;

}

nav a:hover{
    color: #3B82F6;
}

.products {
    display: grid; 
    grid-template-columns:repeat(auto-fill,minmax(250px,1fr)); 
    gap:20px; 
    padding:20px; 
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 80px

}

.card {
    background:rgb(255, 255, 255);
    border-radius:10px; 
    padding:15px;
    text-align:center; 
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    
    
}

.card:hover {
  transform: scale(1.02);
}

.card img {
    height:205px;
    object-fit:contain; 
    margin-left: -15.1px;
    width: 270px;
    

}

.add_to_cart {
    padding:8px 12px;
    background: #2563EB;
    color:white;
    border:none;
    border-radius:5px; 
    cursor:pointer; 
    font-size: 14px;
    width: 215px;
    height: 34px;
    margin-bottom: 0px;
    
}

.add_to_cart:hover{
    background: rgb(255, 255, 255);
    color: #2563EB;
    border:solid 2px black;
    font-size: 14px;
}

#details{
    margin-right: 80px;
    margin-left: 80px;
}

.remove-button{
    margin-left: 15px;
    background-color: #DC2626;
    padding:8px 12px;
    color:white;
    border:none;
    border-radius:5px; 
    cursor:pointer; 
    font-size: 14px;


}

.remove-button:hover{
    background: rgba(253, 253, 253, 0.96);
    color: #DC2626;
    border:solid 2px black;
    font-size: 14px;
}

.cart{
        margin-left: 20px;
        margin-top: 30px;
        font-size: larger;
        

}

#cart-image{
    width: 50px;
    height: 48px;
    margin-right: 10px;
    
}

h3{
    color: #1F2937;
}

.price{
    color: #16A34A;
    font-size: larger;
}

.logo {
  width: 150px;
  margin-top: -8px;
  margin-bottom: -10px;
  margin-left: 20px;
}

.rating {
  margin: 10px 0;
  color: gold;
  font-size: 18px;
}

.rating-number {
  color: #555;
  font-size: 14px;
  margin-left: 5px;

}

.details{
    margin-top: 75px;
    height: 100%;
    width: 1290px;

}

#total{
    margin-top: 5%;
    font-size: 30px;
    
}

.search-div{
    margin-top:85px;
    margin-bottom: -85px;
    margin-left: 45%;
    width: 1000px;
}

.search-bar{
    width: 400px;
    height: 28px;
    font-size: 22px;
    border-radius: 10px;
    border: solid 3px;
}

#vide{
    margin-top: 100px;
    margin-bottom: 67px;
    margin-left: 450px;
    font-size: 30px;
}
#aaa{
    font-size: 35px;
    margin-top: 175px;
    margin-left: 150%;
    margin-right: 150%;
    width: 1000%;
}

@media (max-width: 1024px) {

    .products {
      grid-template-columns: repeat(2, 1fr);
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 100px;
    }
  
    .details {
      width: 100%;
      padding: 20px;
    }
  
    .search-div {
      margin-left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .search-bar {
      width: 60%;
    }
  
    .navbar {
      padding: 15px;
    }
  
    nav a {
      font-size: 18px;
      margin-right: 20px;
    }
  
  }
  
  
  @media (max-width: 768px) {

    body{
        overflow-x: hidden;
    }

    .navbar {
      flex-direction: column;
      align-items: center;
      text-align: center;
      display: flex;
      position: fixed;
    }
  
    .nav {
      margin-left: 85px;
      margin-top: -45px;
    }
  
    nav a {
      display: inline-block;
      margin: 10px;
      font-size: 22px;
    }
  
    .logo {
      width: 120px;
      margin-left: -230px;
      height: 35px;
    }
  
    .products {
      grid-template-columns: 1fr;
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 90px;
      
    }
  
    .card img {
      width: 100%;
      height: 180px;
      margin-left: 0;
    }
  
    .add_to_cart {
      width: 100%;
    }
  
    .remove-button {
      width: 20%;
      margin-left: 0;
      margin-top: 10px;
      margin-bottom: 25px;
    }
  
    .search-bar {
      width: 90%;
      font-size: 18px;
      margin-top: 10px;
    }
  
    .cart {
      font-size: 16px;
      margin-left: 10px;
      margin-top:115px;
      width: 300px;
    }
  
    #total {
      font-size: 22px;
      margin-top: 45px;
    }
    #vide{
        width: 265px;
        margin-top: 60px;
        margin-left: 10px;
    }
    #aaa{
        font-size: 29px;
        margin-top: 135px;
        margin-left: -5px;
        margin-right: 150%;
        width: 370px;
    }
    .details{
        width: 90%;
        
    }
  
  }
  
  
  @media (min-width: 1400px) {
  
    .products {
      grid-template-columns: repeat(4, 1fr);
      max-width: 1400px;
      margin: 120px auto;
    }
  
    .navbar {
      padding: 25px 80px;
    }
  
    nav a {
      font-size: 22px;
    }
  
  }

